name: Build FHIR IG (TEST)

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Prepare FHIR cache
        run: mkdir -p ~/.fhir/packages

      - name: Cache FHIR packages
        uses: actions/cache@v3
        with:
          path: ~/.fhir/packages
          key: ${{ runner.os }}-fhir-packages-${{ hashFiles('**/ig.ini', '**/sushi-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-fhir-packages-
          
      - name: Verify TGZ exists in repo
        run: ls -R tools/package || echo "No tools/package folder"

      - name: Install FHIR Validator
        run: |
          npm install -g fsh-sushi

      - name: Verify SUSHI installation
        run: sushi --version

      - name: Install Local FHIR Package
        run: |
          mkdir -p ~/.fhir/packages/fhir.ph.core#1.0.0
          cp tools/package/fhir.ph.core#1.0.0/package/* \
            ~/.fhir/packages/fhir.ph.core#1.0.0/package/

      - name: Show FHIR cache
        run: ls -R ~/.fhir/packages

      - name: Run Sushi
        run: sushi .
          
      - name: Download IG Publisher
        run: |
          mkdir -p tools
          curl -L -o tools/publisher.jar \
          https://github.com/HL7/fhir-ig-publisher/releases/latest/download/publisher.jar
          
      - name: Show current directory
        run: pwd

      - name: Build IG
        run: |
          echo "Current directory: $PWD"
          java -Xmx6g -jar tools/publisher.jar -ig ig.ini

      - name: Fail on QA errors
        run: |
          if [ -f PH-Immunization/output/qa.html ]; then
            grep -q "ERROR" PH-Immunization/output/qa.html && echo "QA errors found!" && exit 1 || echo "No QA errors."
          else
            echo "QA file not found, skipping QA check."
          fi