name: Build and Publish FHIR IG

on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      #  Checkout repository
      - name: Checkout repo
        uses: actions/checkout@v4

      #  Setup Java (required for IG Publisher)
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      #  Setup Node.js (required for SUSHI)
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # Setup Ruby 
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      # Install Jekyll
      - name: Install Jekyll
        run: gem install jekyll bundler
      #  Install SUSHI
      - name: Install SUSHI
        run: npm install -g fsh-sushi

      #  Cache IG Publisher + packages
      - name: Cache publisher
        uses: actions/cache@v4
        with:
          path: |
            input-cache
            ~/.fhir/packages
          key: ${{ runner.os }}-fhir-${{ hashFiles('**/sushi-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-fhir-

      #  Download IG Publisher (if not cached)
      - name: Download IG Publisher
        run: |
          mkdir -p input-cache
          if [ ! -f input-cache/publisher.jar ]; then
            curl -L https://github.com/HL7/fhir-ig-publisher/releases/latest/download/publisher.jar -o input-cache/publisher.jar
          fi

      - name: Install Local FHIR Package # Generate the package from the local tools/package folder and copy it to the FHIR cache
        run: |
          mkdir -p ~/.fhir/packages/fhir.ph.core#1.0.0/package
          cp -r tools/package/fhir.ph.core#1.0.0/package/* ~/.fhir/packages/fhir.ph.core#1.0.0/package/

      #  Run SUSHI (FSH → FHIR JSON)
      - name: Run SUSHI
        run: sushi .

      #  Run IG Publisher
      - name: Build IG
        run: java -jar input-cache/publisher.jar publisher -ig .

      # ❌ Fail build if QA errors exist (optional but recommended)
      - name: Check QA report
        run: |
          if grep -q "ERROR" output/qa.html; then
            echo "❌ IG Publisher QA errors found"
            exit 1
          fi